<% posts.each do |post| %>
    <% if current_user? post.user %>
        <%= link_to user_blog_post_path(post.user, post), class: "nav-link" do %>
            <h2 class="section-heading"><%= post.title %></h2>
            <blockquote class="blockquote"><%= post.summary %></blockquote>
            <p><%= post.content %></p>
        <% end %>
        <%= link_to "Posted By " + post.user.name, user_blog_posts_path(post.user), class: "nav-link" %>
        <p> Tags : <%= post.tag_list %></p>
        <%= link_to "Edit Post", edit_user_blog_post_path(post.user, post), class: "btn btn-primary" %>
        <%= link_to "Delete Post", user_blog_post_path(post.user, post), method: :delete,
            data: { confirm: "You sure?" }, class: "btn btn-danger" %>
    <% else %>
        <%= link_to show_posts_path(post), class: "nav-link" do %>
            <h2 class="section-heading"><%= post.title %></h2>
            <blockquote class="blockquote"><%= post.summary %></blockquote>
            <p><%= post.content %></p>
        <% end %>
        <%= link_to "Posted By " + post.user.name, user_blog_posts_path(post.user), class: "nav-link" %>
        <p> Tags : <%= post.tag_list %></p>
    <% end %>
    
<% end %>