<% provide(:title, @post.title) %>
<% provide(:image, "post-bg.jpg") %>


<!-- Post Content -->
<article>
    <div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h2 class="section-heading"><%= @post.title %></h2>
            <blockquote class="blockquote"><%= @post.summary %></blockquote>
            <p><%= @post.content %></p>
            <p><%= @post.user.name %></p>     
            <%= link_to "Back", blog_posts_path, class: "btn btn-danger" %>
        </div>
    </div>
    </div>
</article>

<hr>

