<% provide(:title, 'New User') %>
<% provide(:image, "home-bg.jpg") %>


<!-- Main Content -->
<article>
    <div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        <div>
            <ul>
            <% @user.errors.full_messages.each do |error| %>
            <li><%= error %></li>
            <% end %>
            </ul>
        </div>
            <%= form_for @user do |f| %>
                <%= f.label :name %>
                <%= f.text_field :name, class: 'form-control' %>
                
                <%= f.label :email %>
                <%= f.email_field :email, class: 'form-control', placeholder: "example@example.com" %>

                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control' %>

                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, class: 'form-control' %>
                
                <%= f.submit "Submit", class: "btn btn-primary", :style => 'margin-top: 14px' %>
            <% end %>
        </div>
    </div>
    </div>
</article>

<hr>

