<% provide(:title, @user.name) %>
<% provide(:image, "home-bg.jpg") %>


<!-- Main Content -->
<article>
    <div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <table class="table-bordered">
                <thead>
                    <tr class="d-flex">
                        <th class="col-2 text-center"> Name </th>
                        <th class="col-4 text-center"> Email </th>
                        <th class="col-2 text-center"> Profile </th>
                        <th class="col-2 text-center"> Post </th>
                        <th class="col-2 text-center"> Back </th>
                    </tr>
                </thead>
                <tbody>
                        <tr class="d-flex">
                            <td class="col-2 text-center"><%= @user.name %></td>
                            <td class="col-4 text-center"><%= @user.email %></td>
                            <td class="col-2 text-center"><%= link_to "Edit", edit_user_path(@user), class: "btn btn-primary" %></td>
                            <td class="col-2 text-center"><%= link_to "Post", user_blog_posts_path(@user), class: "btn btn-primary" %></td>
                            <td class="col-2 text-center"><%= link_to "Back", users_path(@user), class: "btn btn-danger" %></td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
</article>

<hr>

